<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>

* {
    font-family: 'Roboto', sans-serif;
    background-color: #fbeec1;
}

body {
    margin: 0;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #black;
  }


 img {
    width: 250px;
    height 250px;
 }

p {
color: #black;
}

h3 {
color: #black;
}
