<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="/style.css"/>
    <meta charset="UTF-8">
    <title>A List Of Cigar Reviews</title>
</head>
<body>

<header>
    <img class="humidity" src="/images/humidity-cigars.png" alt="Humidity Cigars Logo">
    <h1>Cigar Reviews</h1>
</header>

<main>

    <ul>
        <li th:each="review: ${reviewsModel}"><button><a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a></button></li>
    </ul>
</main>

<footer>
    <small>&copy Gian Ramirez 2022</small>
</footer>

</body>
</html>