<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="/style.css"/>
    <meta charset="UTF-8">
    <title th:text="${reviewModel.title}">A Review</title>
</head>
<body>

    <header>
        <h1 th:text="${reviewModel.title}">A Cigar Review</h1>
    </header>

<main>
    <ul>
        <img th:src="${reviewModel.imageUrl}">
        <h3 th:text="${reviewModel.reviewCategory}"></h3>
        <h3 th:text="${reviewModel.country}"></h3>
        <p th:text="${reviewModel.content}"></p>
    </ul>

    <p><a href="/reviews">Back to Cigars</a></p>
    <p><a href="/">Home</a></p>

</main>

<footer>
    <small>&copy Gian Ramirez 2022</small>
</footer>

</body>

</html>