<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="/style.css"/>
    <meta charset="UTF-8">
    <title>A List Of All Available Reviews</title>
</head>
<body>

<header>
    <h1>A List Of All Reviews</h1>
</header>

<main>
    <ul>
        <li th:each="review: ${reviewsModel}"><a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a></li>
    </ul>
</main>

<footer>
    <small>&copy Gian Ramirez 2022</small>
</footer>

</body>
</html>